/* Правило @keyframesCSS at-rule контролює проміжні кроки в послідовності анімації CSS, 
    визначаючи стилі для ключових кадрів (або шляхових точок) уздовж послідовності анімації. 
    Це дає більше контролю над проміжними кроками послідовності анімації, ніж над переходами */
/* Використовується як параметр в animation */
@keyframes testAnimationBackgroundMove {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}
