.button {
    font-size: 30px; /* встановлює розмір шрифту */
    background-color: #3f7820; /* встановлює колір фону */
    border-radius: 40px; /*  заокруглює кути зовнішньої рамки елемента */
    color: white; /* встановлює значення кольору переднього плану тексту та прикрас тексту , а також установлює значення. може використовуватися 
        як непряме значення для інших властивостей */
    font-family: Arial; /* визначає пріоритетний список однієї або кількох назв сімейства шрифтів і/або загальних назв сімейства для вибраного елемента */
    width: 10%; /* встановлює ширину елемента */
    text-align: center; /* встановлює горизонтальне вирівнювання вмісту вбудованого рівня всередині елемента блоку або поля клітинки таблиці */
    border: 0; /* вказівки всіх персональних властивостей кордонів за раз: border-width, border-style  і border-color  */
    line-height: 2.5; /* встановлює відступи між рядками АБО полями */
    padding: 0 20px; /*встановлює область заповнення    ширина, висота */
    text-shadow: 1px 1px 2px #000; /* додає тіні до тексту */
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6); /* додає ефекти тіні навколо рамки елемента */
    outline: none; /* встановлює більшість властивостей структури в одній декларації */
    cursor: pointer; /* встановлює курсор миші, якщо такий є, щоб показувати, коли вказівник миші знаходиться над елементом */

    position: relative; /*  визначає розташування елемента в документі. Властивості , , і визначають кінцеве розташування позиціонованих елементів */
    z-index: 0; /* встановлює порядок позиціонування елемента та його нащадків (якщо такі є) іншими словами встановлює слой */
}
    /* :before створює псевдоелемент, який є першим дочірнім елементом вибраного елемента. Його часто використовують для додавання косметичного 
        вмісту до елемента з contentвластивістю */
    .button:before {
        content: ''; /* замінює елемент згенерованим значенням */
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px; /* бере участь у визначенні вертикального положення розміщеного елемента . Це не впливає на нерозташовані елементи */
        left: -2px; /* бере участь у визначенні горизонтального положення розміщеного елемента . Це не впливає на нерозташовані елементи */
        background-size: 400%; /* встановлює розмір фонового зображення елемента. Зображення можна залишити в натуральному розмірі, розтягнути або обмежити, 
            щоб відповідати доступному простору */
        z-index: -1; /* слой */
        filter: blur(5px); /* застосовує до елемента такі графічні ефекти, як розмиття або зміна кольору. Фільтри зазвичай використовуються для налаштування 
            візуалізації зображень, фону та меж */
        width: calc(100% + 4px); /* встановлює ширину елемента */
        height: calc(100% + 4px); /* визначає висоту елемента */
        animation: testAnimationBackgroundMove 20s linear infinite; /* застосовує анімацію між стилями */
        opacity: 0; /* встановлює непрозорість елемента  0 = прозорий*/
        transition: opacity .3s ease-in-out; /* є скороченою властивістю для .transition transition-property transition-duration transition-timing-function transition-delay */
        border-radius: 10px;
    }
    /*:active- Псевдоклас CSS, який активує користувач. Під час використання миші «активація» зазвичай починається, коли користувач натискає основну кнопку миші */
    .button:active {
        color: #000
    }
        /* дія яка буде відбуватись після відведення миші */
        .button:active:after {
            background: transparent;
        }
    /* :hover- Псевдоклас CSS збігається , коли користувач взаємодіє з елементом за допомогою вказівного пристрою, але не обов’язково активує його */
    .button:hover:before {
        opacity: 1; /* встановлює непрозорість елемента */
    }

    .button:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 10px;
    }

.switch-button {
    margin-top: 8px;
    font-size: 20px;
    border-radius: 40px;
    color: white;
    font-family: Arial;
    display: inline-block; /* властивість встановлює внутрішній і зовнішній типи відображення елемента . Зовнішній тип встановлює участь елемента в структуруванні потоку */
    text-align: center;
    width: 10%;
}