@using IdentityServer_DAL.Entity.Auth;
@model RegisterViewModel

<div asp-validation-summary="ModelOnly"></div>

<form asp-action="Register">
    UserName: <input asp-for="UserName" /> <span asp-validation-for="UserName"></span>
    <br />
    Password: <input asp-for="Password" /> <span asp-validation-for="Password"></span>
    <br />
    ConfirmPassword: <input asp-for="ConfirmPassword" /> <span asp-validation-for="ConfirmPassword"></span>
    <br />
    ReturnUrl: <input asp-for="ReturnUrl" /> <span asp-validation-for="ReturnUrl"></span>
    <br /><br />
    <input type="submit" value="submit" />
</form>
