@using Client.ViewModels;

@model TakeAccesViewModels

<head>
    <link href=@Url.Content("~/Styles/app.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/Styles/animation.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/Styles/button.css") rel="stylesheet" type="text/css" />
</head>
<body class="body">
    <div class="heared">
        <form asp-controller="Pages" asp-action="TakeAcces" metod="post">
            @if (Model.HaveAcces)
            {
                <label>
                    Acces is DONE!
                </label>
            }
            else
            {
                <label>
                    Click button, to take Acces at API at:
                </label>
            }
            </form>
        </div>
    
</body>
<footer>
    @if (!Model.HaveAcces)
    {
        <div class="block">
            <a asp-controller="Pages" asp-action="TakeAccesGrantTypesClientCredentials" asp-route-accesIs="@Model.HaveAcces" metod="get">
                <button type="submit" class="button">
                    GrantTypes ClientCredentials
                </button>
            </a>
        </div>
    }
</footer>