<head>
    <link href=@Url.Content("~/styles/app.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/styles/animation.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/styles/button.css") rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="heared">Click button, to take Acces at API</div>
</body>
<footer>
    <div class="block">
            <button type="submit" class="button">
                Take Acces at API
            </button>
        </div>
</footer>