@model LoginViewModel;

@{
    var errorModel = ViewBag.ErrorModel as IdentityServer_FrontEnd.ViewModels.ErrorViewModel;//так дуже погано робити, користуватись динаміком- погано, треба знайти інше рішення
}

<head>
    <link href=@Url.Content("~/Styles/app.css") rel="stylesheet" type="text/css" /><!-- Це те звідки буде братись стилістика цієї сторінки-->
    <link href=@Url.Content("~/Styles/animation.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/Styles/button.css") rel="stylesheet" type="text/css" />
</head>
<body class="body">
    <form asp-controller="Auth" asp-action="Login" metod="post">
        <!--Це яктй метод буде відповідати за роботу з сторінкою-->
        <input type="hidden" asp-for="ReturnUrl" /><!-- тип який буде прихований і міститиме посилання на повернення-->
        <div class="heared">Login</div><!--Це заголовок для Авторизації -->
        <div class="block">
            <!-- Це заголовок що все що в ньому це буде окремий блок -->
            @if (errorModel != null && errorModel.UserNameErrors != null)
            {
                foreach (var item in errorModel.UserNameErrors)
                {
                    <div>
                        <label class="main_pages_text">
                            @item.ErrorMessage
                        </label>
                    </div>
                }
            }
            <label class="main_pages_text">Username</label><!--Напис Username -->
            <input asp-for="UserName" class="input" /><!--Поле для введення даних а саме логіну -->
            <label class="main_pages_text" style="font-size: 20px; margin-left:50px;">bobik</label>
        </div>
        <div class="block">
            @if (errorModel != null && errorModel.PasswordErrors != null)
            {
                foreach (var item in errorModel.PasswordErrors)
                {
                    <div>
                        <label class="main_pages_text">
                            @item.ErrorMessage
                        </label>
                    </div>
                }
            }
            <label class="main_pages_text">Password</label>
            <input asp-for="Password" class="input" />
            <label class="main_pages_text" style="font-size: 20px; margin-left:50px;">Pass123$</label>
        </div>
        <div class="block">
            <button type="submit" class="button">
                <!--Кнопка підтвердження -->
                Sign In
            </button>
        </div>
    </form>
</body>
<footer>
    <form>
        <div class="block">
            <a asp-controller="Auth" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl" class="switch-button">Register</a><!--Циклічність перемикання тексту на кнопці -->
        </div>
    </form>
</footer>


