@model RegisterViewModel

@{
    var errorModel = ViewBag.ErrorModel as IdentityServer_FrontEnd.ViewModels.ErrorViewModel;//так дуже погано робити, користуватись динаміком- погано, треба знайти інше рішення
}

<head>
    <link href=@Url.Content("~/styles/app.css") rel="stylesheet" type="text/css" />
</head>
<form asp-controller="Auth" asp-action="Register" metod="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="heared">Sign Up</div>
    <div class="block">
        @if (errorModel != null && errorModel.UserNameErrors != null)
        {
            foreach (var item in errorModel.UserNameErrors)
            {
                <div>
                    <label>
                        @item.ErrorMessage
                    </label>
                </div>
            }
        }
        <label>Username</label>
        <input asp-for="UserName" class="input" />
    </div>
    <div class="block">
        @if (errorModel != null && errorModel.PasswordErrors != null)
        {
            foreach (var item in errorModel.PasswordErrors)
            {
                        <div>
                            <label>
                                @item.ErrorMessage
                            </label>
                        </div>
            }
        }
        <label>Password</label>
        <input asp-for="Password" class="input" />
    </div>
    <div class="block">
        @if (errorModel != null && errorModel.ConfirmPasswordErrors != null)
        {
            foreach (var item in errorModel.ConfirmPasswordErrors)
            {
                <div>
                    <label>
                        @item.ErrorMessage
                    </label>
                </div>
            }
        }
        <label>Confirm password</label>
        <input asp-for="ConfirmPassword" class="input" />
    </div>
    <div class="block">
        <button type="submit" class="button">
            Sign up
        </button>
    </div>
    <a asp-controller="Auth" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" class="switch-button">Login</a>
</form>